.mobile-menu {
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  position: absolute;
  z-index: 20;
  background-color: white;
}

.max-h-0 {
  max-height: 0;
}

.max-h-96 {
  max-height: 24rem; /* Adjust this value based on your content size */
}

@media (min-width: 1024px) {
  /* lg breakpoint for Tailwind CSS */
  .mobile-menu,
  .lg\\:hidden {
    display: none; /* Hide elements on large screens */
  }
}

.dropdown-menu {
  position: absolute;
  top: 50px; /* Adjust this value based on the image position */
  right: 10px; /* Adjust this value based on your layout */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 10px;
  display: none;
}

.dropdown-menu.open {
  display: block;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.dropdown-item.logout {
  color: red;
}
